/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.hidden{
    display: none;
}

.card {
    background: #fff;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
    width: 25%;
    float: right;
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 1000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 500px;
    overflow-y: scroll;



}

.conv-form-wrapper{
    /*display: none;*/
}

#chat{

}



#chat-header .close-chat {

    background-image: url("../img/close.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    float: right;
}
#chat-header .open-chat {
    display: none;
    background-image: url("../img/open.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    float: right;
}

div.conv-form-wrapper div.options div.option {
    float: left;
}


div.conv-form-wrapper div.wrapper-messages {

    position: relative;
    height: 577px;
    max-height: 71vh;
    overflow-y: scroll;
    transition: margin 0.1s;

}
div.conv-form-wrapper div.wrapper-messages {

    min-height: 160px !important;
    height: 200px !important;

}

.myButtonGreen {
     -moz-box-shadow: 0px 10px 14px -7px #3e7327;
     -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
     box-shadow: 0px 10px 14px -7px #3e7327;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
     background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
     background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
     background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
     background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
     background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
     background-color:#77b55a;
     -moz-border-radius:4px;
     -webkit-border-radius:4px;
     border-radius:4px;
     border:1px solid #4b8f29;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:13px;
     font-weight:bold;
     padding:6px 12px;
     text-decoration:none;
     text-shadow:0px 1px 0px #5b8a3c;
     float: left;
     margin: 10px;

 }
.myButtonGreen:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352 !important;
    border:1px solid #4b8f29 !important;
    color:#ffffff !important;
}
.myButtonGreen:active {
    position:relative;
    top:1px;
}


.echobot-form{
    float: left;
    width: 100%;
}

#echobot-input, #echobot-input-look-for, #echobot-input-question{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    padding:6px 12px;
    font-size: 13px;
    float: left;
    margin: 10px;
    width: 80%;
    background: none;
    float: left;
}

.answer{
    float: left;
    width: 100%;
    font-size: 13px;
    margin: 10px;

}

.answer p{
    float: left;
    width: 100%;
    margin: 0;
}

.question{
    font-size: 13px;
    margin: 10px;
}

.echobot-send, .echobot-send-look-for, .echobot-send-question{

    font-size: 13px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    padding:6px 12px;
    background: none;
    float: left;
    margin: 10px 0;
}



.echobot-send:hover, .echobot-send-look-for:hover, .echobot-send-question:hover{
    background: none !important;
    border:1px solid #4b8f29 !important;
}

.echobot-input-container{
    display: none;
}




